body {
  background-color: rgb(19, 19, 19);
  text-align: center;
  margin: 0;
}
nav {
  border-color: rgb(44, 44, 44);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}

h1,
h2,
h3 {
  color: rgb(190, 189, 189);
}

h1 {
  margin: 50px 20px;
}

p {
  color: rgb(190, 189, 189);
  background-color: rgb(24, 24, 24);
  width: 700px;
  border-color: rgb(44, 44, 44);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px;
  margin: 20px auto;
}
img {
  padding: 30px;
}
#members,
#membersli li {
  color: rgb(190, 189, 189);
  list-style-type: none;
}

a {
  color: rgb(89, 27, 27);
}
